# Configuration Files
config.json

# Ignore test directories / generic folders created
Test Songs/
CLI Version/
build/
GUI Version/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Executables
*.exe

# Python build residues
*.spec