# Configuration Files
config.json
gui_config.json

# Ignore test directories / generic folders created
Test Songs/
CLI Version/
build/
GUI Version/
wheels/
.pex/
build_dir/


# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Executables
*.exe

# Python build residues
*.spec